build/

# Daniel Boris's "Odyssey 2 Technical Specs" is a copyrighted third-party
# document, freely available from the author but not ours to redistribute.
# Fetch it yourself: http://atarihq.com/danb/files/o2doc.pdf
learn/
