BasedOnStyle: LLVM
ColumnLimit: 95
AllowShortBlocksOnASingleLine: true
AlwaysBreakAfterReturnType: None
IncludeBlocks: Preserve
SortIncludes: false
IndentWidth: 4
UseTab: Never
AccessModifierOffset: -4
AlignConsecutiveMacros: true
AlwaysBreakTemplateDeclarations: Yes
BreakInheritanceList: AfterColon
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
IndentPPDirectives: None
ReflowComments: true
