# Binary files 
*.com binary
*.sys binary
*.map binary

*.atr binary
*.atx binary
*.xfd binary
*.xex binary
*.dcm binary

*.cas binary

*.avf binary
*.pdm binary

*.car binary
*.bin binary
*.rom binary
