# bank0.cfg -- bank 0's own 4K of a 64K Super Cart client, at $A000.
MEMORY {
    ZP:    file = "", start = $0019, size = $00E7;
    BANKA: file = %O, start = $A000, size = $1000, fill = yes, fillval = $FF;
}
SEGMENTS {
    ZEROPAGE: load = ZP,    type = zp,  optional = yes;
    BANKCODE: load = BANKA, type = ro;
}
