@font-face {
    font-family: "Poppins";
    src: url("/file?Poppins-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/file?Inconsolata-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

body
{
	font-family: Poppins, Tahoma, Geneva, sans-serif;
}

table.info
{
	margin-top: 1em;
	margin-left: 4em;
	border-collapse: collapse;
}

table.info td
{
	border-bottom: 1px solid #cccccc;
}

table.info tr td:first-child
{
	text-align: right;
	white-space: nowrap; 
}

table.info tr td:nth-child(2)
{
	font-family: Inconsolata, "Courier New", Courier, monospace;
	padding-left: 0.5em;
}

table.general
{
	margin-top: 1.5em;
}
.small
{
	font-size: 0.75em;
}

.light
{
	opacity: 0.85;
}

.not-important
{
	color: #999999;
}

img.logo
{
	padding-left: 2em;
}

img.printer
{
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 0.5em;
	width: 5em;
}

img.hsio
{
	padding-left: 2em;
	padding-right: 1.75em;
	padding-top: 0em;
	padding-bottom: 0em;
	width: 11em;
}

img.tz
{
	padding-left: 4em;
	padding-right: 1.75em;
	padding-top: 0em;
	padding-bottom: 0em;
	width: 5em;
}

.printform
{
	vertical-align: text-top;
}

.hsioform
{
	vertical-align: text-top;
}

.tzform
{
	vertical-align: text-top;
}

#spiffs_storage
{
	float: right;
	padding-right: 2em;
	text-align: center;
	font-size: 0.7em;
	font-style: italic;
}
