menu "Fast LED"

    config FAST_LED_TEST
        bool "Create a Fast LED option in case I need to later"
        default n
        help
            I don't know if I'm going to have to add menuconfig options in the future.
            Maybe I will. If I do, this is the template for doing it.

endmenu
